style
/*CSS Comment*/
body {
    font-family: Arial, Helvetica, sans-serif; 
    /*color: red; */
    background-color: ivory;
    color: slategray;
}
h1, h2, h3 {
    font-weight: bold;
    font-style: italic;
    color: navy;
    text-decoration: underline;
    border-color: palegoldenrod;
    border-style: groove;
    /*padding-right: 100px;*/

}
.style1 {
    color: blue;
    text-decoration: underline;
    font-weight: 16px;
}

nav {
    font-weight: bold;
    font-style: italic;
    color: navy;
    text-decoration: underline;
    border-color: orange;
    border-style: groove;
    /*padding-right: 100px;*/
}

li {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

footer {
    color: red;
    background-color: black;
    font-style: oblique;

}

.bold {
    font-weight: bold;

}